body {
    background-color: #343a40;
}

.card {
    background-color: #343a40;
    border: 1px solid black;
    border-radius: 10px;
}

.card-body:hover {
    border-radius: 10px;
    box-shadow: 0 0 5px gray;
}

.add-btn {
    background-color: #ced4da;
    border-radius: 20;
    color: #000;
    display: block;
    margin: auto;
    width: 10rem;
}

.white-text {
    color: #ffffff;
}

.form-control {
    max-width: 20rem;
}

.newproductCard {
    align-self: center;
    background-color: #495057;
    border-radius: 20px;
    flex: 1;
    max-width: 400px;
}

.add-new-btn-container {
    align-self: center;
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: flex-end;
}

.nonStrikethrough {
    color: #ffffff;
    text-align: left;
}

#product-container {
    background-color: #343a40;
}

.products-container {
    align-self: center;
    margin-bottom: 20px;
}

.products-buttons {
    margin: 5px;
    min-width: 80px;
}

.strikethrough {
    text-align: left;
    text-decoration: line-through;
}



button.delBtn {
    background-color: #dc3545;
}

.add-btn {
    width: 10rem;
    display: block;
    margin: auto;
    background-color: #ced4da;
    color: #000;
    flex: 1;
    border-radius: 20;
}